*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #ffff;
    color: #222;
    padding:0 20px;
}

header{
    text-align: center;
    padding: 20px 10px;
    background: linear-gradient(to right, #bb9457, #e9c46a);
    color: #fff;
    h1{
        margin-bottom: 10px;
    }
    p{
      margin-bottom: 15px;
    }
    .btn{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 12px 25px;
    margin: 20px;
    border-radius: 8px;
    transition: background 0.3s ease;
}
}

.hero-image{
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.content{
    display: flex;
    flex-direction: column;
    text-decoration: double;
}
.first_box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    h2{
        color: #fff;
    }
}
.features{
    box-sizing: border-box;
    background-color: black;
    width:600px;
    gap: 5px;
    padding: 20px 35px;
    border-radius: 7px;
    p{
        color: #fff;
    }
}
.about{
    box-sizing: border-box;
background: linear-gradient(to right, #bb9457, #e9c46a);
     width:600px;
     padding: 20px 35px;
     border-radius: 7px;
    ul{
        color: #fff;
    }
}
.second_box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    h2{
          color: #fff;
    }
}
.format{
    box-sizing: border-box;
    background-color: black;
    padding: 20px 35px;
    border-radius: 7px;
    width: 600px;
    ul{
        color: #fff;
    }
}
.learn{
    box-sizing: border-box;
background: linear-gradient(to right, #bb9457, #e9c46a);
    padding: 20px 35px;
    color: #fff;
    width: 600px;
    border-radius: 7px;
}
.third_box{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
    h2{
         color: #fff;
    }
}
.class{
    box-sizing: border-box;
    background-color: black;
    padding: 20px 35px;
    color: #fff;
    width: 600px;
    border-radius: 7px;
}
.instructor{
    box-sizing: border-box;
 background: linear-gradient(to right, #bb9457, #e9c46a);
    padding: 20px 35px;
    color: #fff;
    width: 600px;
    border-radius: 7px;
    .inst{
           display: flex;
    flex-direction: row;
    align-items: center;
        img{
        width: 45px;
        height: auto;
        border-radius: 20px;
        margin-right: 5px;
    }
        }
    }

    footer{
        display: flex;
        flex-direction: column;
         align-items: center;
        justify-content: center;
        text-align: center;
        background:black; 
        margin-top: 20px;
        color: #fff;
        padding: 20px 35px;
        gap: 10px;
        p{
            margin-bottom: 10px;
            margin-top: 10px;
        }
        a{
            color: white;
             background: linear-gradient(to right, #bb9457, #e9c46a);
             border-radius: 20px;
             padding: 12px 25px;
             text-decoration: none;
        }
    }